﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="EastWayGuitars._Default" %>

<asp:Content runat="server" ID="FeaturedContent" ContentPlaceHolderID="FeaturedContent">
    <section class="featured">
        <%--<div class="content-wrapper">--%>
<%--            <hgroup class="title">
                <h1>Welcome!</h1>
                <br />
            </hgroup>--%>
        <%--</div>--%>
    </section>
</asp:Content>
<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <img src="../Images/twistBridgePin.jpg" width="1060" height ="auto" id="homePageImage">
</asp:Content>
