﻿<%@ Page Title="Results" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Results.aspx.cs" Inherits="EastWayGuitars.Results" %>


<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <hgroup class="title">
        <h1>Sales Analysis</h1>
    </hgroup>

      <aside>
        <h3>Commission</h3>
        <p>        
           Your commission for the month is:
        </p>
        <ul>
            <asp:Placeholder ID ="PlaceHolder2" runat="server" />
        </ul>
          <br />
          <br />
          <br />
          <br />
          <br />

        <p>Your Total Parts used for the month is:</p>
         <ul>
            <asp:Placeholder ID ="PlaceHolder3" runat="server" />
        </ul>
    </aside>
    <h3>Monthly Sales</h3>
    <article>
        <p>
            <asp:Placeholder ID ="PlaceHolder1" runat="server" />
        </p>
    </article>


    <br />
    <br />

    <article>

    </article>

 
</asp:Content>